.selfIntroduction {
  margin-bottom: 40px;
  color: var(--main-text-color);
  align-self: center;
  background-color: var(--highlight-background-color-90p);
  padding: 0px 20px;
  border-radius: 25px;
  p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .highlight_text {
    color: var(--highlight-text-color);
  }
}
