.my-avatar {
  width: 90%;
  height: 90%;
  border-radius: 50%;
}
.my-avatar-default {
  /* make gap in border */
  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow: 0 0 0 1.5px;
}

.avatar-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
