/* SkillBox.module.scss */
.skillBox {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--highlight-text-color);
  border-radius: 5px;
  margin: 10px;
  background-color: var(--background-color);
  transition: background-color 0.2s ease;
}

.skillBox:hover {
  background-color: var(--highlight-background-color);
}

.icon {
  font-size: 30px;
  margin-right: 10px;
  color: var(--highlight-text-color);
}

.skillName {
  font-size: 24px;
  font-weight: bold;
  color: var(--main-text-color);
  user-select: none;
}

.skillBox:hover .icon {
  color: var(--background-color);
}

.skillBox:hover .skillName {
  color: var(--highlight-text-color);
}
