.NavBar {
  position: fixed;
  align-self: center;
  top: 0px;
  z-index: 400;
  background-color: var(--highlight-background-color);
  border: 2px solid var(--highlight-text-color);
  width: 60vw;
  min-width: 350px;
  display: flex;
  border-radius: 10px;
  column-gap: 3px;
  padding: 5px 5px;
  a {
    background-color: var(--highlight-background-color);
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    color: var(--highlight-text-color);
    border-radius: 5px;
    padding: 2px 2px;
  }
  a:hover {
    background-color: var(--hover-background-color);
    color: var(--background-color);
  }
}
